*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase: no subir la config del proyecto
google-services.json
/app/google-services.json
